:root {
    --primary-blue-100: theme('colors.primary.blue.100');
    --primary-blue-90: theme('colors.primary.blue.90');
    --primary-blue-80: theme('colors.primary.blue.80');
    --primary-blue-70: theme('colors.primary.blue.70');
    --primary-blue-60: theme('colors.primary.blue.60');
    --primary-blue-50: theme('colors.primary.blue.50');
    --primary-blue-40: theme('colors.primary.blue.40');
    --primary-blue-30: theme('colors.primary.blue.30');
    --primary-blue-20: theme('colors.primary.blue.20');
    --primary-blue-10: theme('colors.primary.blue.10');
  }
