:root {
    --primary-blue-100: rgb(var(--v-theme-on-primary-blue-100));
    --primary-blue-90: rgb(var(--v-theme-primary-blue-90));
    --primary-blue-80: rgb(var(--v-theme-primary-blue-80));
    --primary-blue-70: rgb(var(--v-theme-primary-blue-70));
    --primary-blue-60: rgb(var(--v-theme-primary-blue-60));
    --primary-blue-50: rgb(var(--v-theme-primary-blue-50));
    --primary-blue-40: rgb(var(--v-theme-primary-blue-40));
    --primary-blue-30: rgb(var(--v-theme-primary-blue-30));
    --primary-blue-20: rgb(var(--v-theme-primary-blue-20));
    --primary-blue-10: rgb(var(--v-theme-primary-blue-10));
}
